    
  
    <div class="vh-100 bg-black w-100 overflow-hidden d-flex justify-content-center align-items-center ">
        <div class="row justify-content-around align-items-center text-center g-4 ">
  
          <!-- 🔴 NITRO ENG -->
          <div class="col-6 col-sm-4 col-md-2">
            <div class="can-container position-relative">
              <img src="assets/img/shadoweng.png" alt="shadow" class="shadow-img">
              <img src="assets/img/caneng.png" alt="can" class="can-img-1">
              <img src="assets/img/undereng.png" alt="base-glow" class="under-img-1">
              <div class="text-white mt-3 me-30">
                <h5 class="fw-bold">NITRO ENG</h5>
                <p class="mb-0 small">High intensity</p>
                <p class="fw-bold">10.58 $</p>
              </div>
            </div>
          </div>
  
          <!-- 🔴 NITRO RED -->
          <div class="col-6 col-sm-4 col-md-2">
            <div class="can-container position-relative">
              <img src="assets/img/shadowred.png" alt="shadow" class="shadow-img">
              <img src="assets/img/canred.png" alt="can" class="can-img-2">
              <img src="assets/img/underred.png" alt="base-glow" class="under-img">
              <div class="text-white mt-3 me-35">
                <h5 class="fw-bold">NITRO RED</h5>
                <p class="mb-0 small">High intensity</p>
                <p class="fw-bold">11.00 $</p>
              </div>
            </div>
          </div>
  
          <!-- 🟢 NITRO GREEN -->
          <div class="col-6 col-sm-4 col-md-3 " >
            <div class="can-containerr position-relative mx-auto me-3"  [class.visible]="showStaticCan"
            [class.hidden]="!showStaticCan">
              <img src="assets/img/shadowburble.png" alt="shadow" class="shadow-img">
              <img  src="assets/img/canyollow.png" alt="can" class="can-img">
              <img src="assets/img/under3.png" alt="base-glow" class="under-img-defrant ">
              <div class="text-white mt-3 me-30">
                <h5 class="fw-bold">NITRO GREEN</h5>
                <p class="mb-0 small">High intensity</p>
                <p class="fw-bold">12.00 $</p>
              </div>
            </div>
          </div>
  
          <!-- 🔵 NITRO SKY -->
          <div class="col-6 col-sm-4 col-md-2">
            <div class="can-container position-relative">
              <img src="assets/img/shadowburble.png" alt="shadow" class="shadow-img">
              <img src="assets/img/canburle.png" alt="can" class="can-img-2">
              <img src="assets/img/under2.png" alt="base-glow" class="under-img">
              <div class="text-white mt-3 me-35">
                <h5 class="fw-bold">NITRO SKY</h5>
                <p class="mb-0 small">High intensity</p>
                <p class="fw-bold">11.00 $</p>
              </div>
            </div>
          </div>
  
          <!-- 🔵 NITRO BLUE -->
          <div class="col-6 col-sm-4 col-md-2">
            <div class="can-container position-relative">
              <img src="assets/img/shadowburble.png" alt="shadow" class="shadow-img">
              <img src="assets/img/canblue.png" alt="can" class="can-img-1">
              <img src="assets/img/under2.png" alt="base-glow" class="under-img-1">
              <div class="text-white mt-3 me-30">
                <h5 class="fw-bold">NITRO BLUE</h5>
                <p class="mb-0 small">High intensity</p>
                <p class="fw-bold">10.58 $</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  