<div id="date-can-trigger" class="vh-100 bg-black w-100">
  <div class="d-flex justify-content-around align-items-center h-100">
    <div>
      <img
        src="/assets/img/hero.png"
        alt="hero"
        class="img-fluid"
        style="width: 100%; max-width: 500px; height: 500px; object-fit: cover"
      />
    </div>
    <div class="z-3">
      <img
        src="/assets/img/tagline.png"
        alt="hero"
        class="img-fluid"
        style="width: 100%; max-width: 500px; height: 500px; object-fit: cover"
      />
    </div>
  </div>
  <div class="can-wrapper " [style.opacity]="showCanJpg ? '1' : '0'">
    <img class="can-jpg-2" src="/assets/img/cancover.png" alt="" />
  </div>
  
</div>
